/* Reset styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Inter", monospace;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  /* list-style: none; */
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/*------------------------------------------*/

body {
  background-color: rgb(199, 197, 197);
}

/* Main */

.main_wrapper {
  width: 1024px;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main_section {
  width: 650px;
  background-color: whitesmoke;
  padding: 70px 60px 50px;
}

.full_name {
  font-size: 45px;
  margin-bottom: 20px;
  color: #1f1f1f;
}
.about {
  font-size: 14px;
  color: #595959;
  line-height: 24px;
}

.experience-title {
  position: relative;
  margin-bottom: 12px;
  color: #1f1f1f;
}

.title {
  margin-bottom: 5px;
  color: #595959;
  font-weight: 700;
  font-size: 16px;
}

.field {
  color: #595959;
  font: 14px;
}

.link-span {
  text-decoration: none;
  font-weight: 500;
}

.experience-list {
  margin-left: 15px;
}

/* .project-experience-list {
  margin-top: 20px;
} */

.experience-item {
  margin-left: 20px;
  color: #f55d26;
  margin-bottom: 8px;
}

.item {
  margin-left: 20px;
  color: #f55d26;
  margin-bottom: 12px;
}

.position {
  color: #595959;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.project-link {
  display: inline-block;
  color: #595959;
  margin-bottom: 6px;
  font-weight: 700;
}

.project-description {
  color: #595959;
  font-size: 14px;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 1.5;
}

.project-position {
  color: #595959;
  font-size: 14px;
}

.subposition {
  color: #595959;
  font-size: 14px;
  margin-bottom: 4px;
}

.period {
  color: #595959;
  font-size: 16px;
  font-weight: 600;
}

/*--------------------------------------*/

/* Sidebar */

.sidebar_wrapper {
  padding: 0 30px 40px;
}

.img_wrapper {
  margin: 40px;
}

.photo {
  margin-top: 30px;
}

.phone {
  margin-bottom: 8px;
}

.sidebar_section {
  width: 370px;
  background-color: rgba(7, 6, 35, 0.742);
  color: white;
}

.contact-item {
  display: flex;
}

.mail {
  margin-bottom: 25px;
}

.contact-sign {
  color: #f55d26;
  margin-right: 10px;
}

.section-title {
  margin-top: 25px;
  margin-bottom: 8px;
}

.list {
  color: #595959;
  margin-top: 30px;
}

.skills-item {
  margin-left: 20px;
  margin-top: 3px;
  color: #f55d26;
}

.skills {
  color: #f0f8ff;
}

.social-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
}

.github-icon,
.linkedin-icon {
  fill: #f0f8ff;
}

.github-icon:hover,
.linkedin-icon:hover {
  fill: #f55d26;
}
